/*
    defult :  font-family:popin !!!
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@font-face{
    font-family:"lato";
    src: url("font/Lato-Regular.eot") format("eot"),
     url("font/Lato-Regular.woff") format("woff"),
     url("font/Lato-Regular.ttf") format("truetype"),
     url("font/Lato-Regular.svg#lato") format("SVG");
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
ul li{
    list-style-type:none;
}
a{
    text-decoration:none;

}
ul li a{
    padding:10px;
}
.full{
    width:100%;

}
.nav-bg{
    background: #282828;
  
   

}
.head-wrap{
    width:980px;
    margin:0 auto;
    
  
    
}
.margin-section{
    border-top:5px solid black;
    margin-top:-5px;
}
 
.wrap{
     
    width:980px;
    margin:0 auto;   
    
}
.head-bg{
    background:#292929;
    display:flex;
    
}
nav{
    width:80%;
    display:flex;
    justify-content:flex-end;
}
.main-menu{
    display: flex;
    align-items:center;
    
}
header{
    width:20%;
    display: flex;
    
    align-items:center;
}
header h1{
    color:#fff;
    font-weight:bold;
    font-family:"lato";
    font-size:40px;
}
 
.main-menu ul li{
    list-style-type:none;


}
.main-menu ul li a{
    display:block;
    padding:45px 30px;
    color:#fff;
    border-left:1px solid #272727;
}
.main-menu ul li:hover a{
    color:#58C93A;
    border-bottom:5px solid #58C93A;
}
.main-menu ul li .active {
    color:#58C93A;
    border-bottom:5px solid #58C93A;
}
 .img-section{
     display: flex;
     flex-direction:column;
     width:64%;
 }
.container{
     padding-top:80px;
     display:flex;
     border-left:1px solid #c2c1c1;
     border-right:1px solid #c2c1c1;
     border-bottom:1px solid #c2c1c1;
     
    


 }
aside{
     display:flex;
     flex-direction: column;
     width: 31%;
     margin-left: 5%;
}
/*style------------------------------- aria*/
section{
     
   min-height: 600px;
}
.img-section h1{
    color:#4f4e4e;
    font-weight: bold;
    font-size:28px;
    font-family:lato;
    margin-bottom:30px;
    padding:5px 10px;
    text-transform: uppercase;

}
.img-section p{
    color:#606060;
    font-size:16px;
    padding:5px 10px;

}
.content{
    height: 320px;
    margin-left: 10px;
}
.botton{
    color:#c2c1c1;
    border-radius: 17px;
    border: 2px solid#c2c1c1;
    padding:5px 20px;
    margin-left:20px;
    margin-top:50px;
}
.botton-div{
    margin-top:50px;
}
.next{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left:1px solid #c2c1c1;
    border-right:1px solid #c2c1c1;
    border-bottom:1px solid #c2c1c1;
    min-height: 80px;

}
.next h2{
    text-transform:uppercase;
    color:#818181;
    font-size: 18px;
     
    
}
.next h2:nth-child(1){
    margin-left:30px;
}
.next h2:nth-child(2){
    margin-right:30px;
}
/*aside--------------------------*/
.side1 h2{
    width:100%;
    background-color:#E5E7E9;
    padding:13px 10px;
    color:#6c6969;
    border-left:5px solid #58C93A;
    margin-bottom:20px;
    text-transform: uppercase;
    font-size: 16px;

}
.side1 p{
    margin-bottom:20px;
    color:#737373;
}
.side1 input{
    border:1px solid#E1E0E0;
    border-right: none;
}
.fr-input{
    width: 100%;
    min-height:45px;
    margin-bottom:80px;
    padding:15px 15px;
    
}
.submit{
     
    position:relative;

}
.submit input[type="submit"]{
    position:absolute;
    left: 250px;
    top: 14px;
    text-indent:-9999px;
    border:none;
    width:24px;
    height:24px;
    background:url(image/submit.png);
    background-size:cover;
    cursor:pointer;
}
footer{
    width:100%;
    min-height: 310px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
footer h1{
    color:#292929;
    font-size:40px; 
    font-family:lato;    
}
footer p{
    color:#a6a6a6;  
    font-size:13px;
    margin-top:20px;
    font-family:lato;
}
.footer-bg{
    width:100%;
    background-color: #F8F8F8;
}
.social-aria ul{
    display: flex;

}
.social-aria ul li a{
    display: block;
    width:40px;
    height: 40px;
    margin-top:40px;
    margin-left: 20px;
}

.fb{
    background:url(image/fb2.png);
}
.social-aria ul li:hover .fb{
    background: url(image/fb1.png);
}
.tw{
    background:url(image/tw1.png);
}
.social-aria ul li:hover .tw{
    background: url(image/tw2.png);
}
.be{
    background:url(image/be1.png);
}
.social-aria ul li:hover .be{
    background: url(image/be2.png);
}
